@using Domain.Entities
@using Microsoft.AspNetCore.Http.Extensions
@model IEnumerable<Route>

@{
    ViewBag.Title = "Найденные маршруты";
}

<table class="table">
  <thead>
    <tr>
      <th scope="col">Автобус</th>
      <th scope="col">Отправление</th>
      <th scope="col">Прибытие</th>
      <th scope="col">Статус</th>
      <th scope="col">Купить</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var route in @Model)
    {
    <tr>
      <th>>@route.Id @route.DepartureName - @route.DestinationName</th>
      <td>@route.DepartureDateTime</td>
      <td>@route.ArrivalDateTime</td>
      <td>@route.Status</td>
      <td><button type="button" class="btn btn-sm btn-outline-warning">Купить</button></td>
    </tr>
    }
  </tbody>
</table>

@{
    ViewData["Title"] = "List";
}


